*{
    margin:0;
    padding:0;
}
body{
    background: #dedede;
    display: flex;
    min-height: 100vh;
    width: 100%;
    
    
}
form{
    margin:auto;
    width: 60%;
    max-width: 600px;
    background: #f3f3f3;
    padding: 30px;
    border:1px solid rgba(0,0,0,.2)
}
header{
    
    background: #cccc;
    display:flex;
    justify-content: center;   
    align-items: center;
    
}
.container-box{
    width: 80%;
    max-width: 600px;
    height: 80vh;
    background: #f3f3f3;
    margin: auto;
    border:1px solid rgba(0,0,0,.2);
    position: relative;
}
.tareas-icon{
    font-size: 120px;
    color:#00C1D4;
    margin: auto;
    position: absolute;
}
.copyright{
    font-size: 15px;
    color:#0760b3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-self: flex-end;
    margin-bottom: 30px;
    
}
h2,h3{
    text-align: center;
    margin-bottom: 20px;
    color:rgba(0,0,0,1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.todolist{
    text-align: center;
    margin:auto 33%;
}
.input-text,input[type="submit"]{
    display: block;
    width: 95%;
    padding: 10px;
    margin:20px 0;
    font-size: 18px;
}
input[type="submit"]{
 background: linear-gradient(#ffda63,#ffb940);   
 border:none;
 color:brown;
 cursor:pointer;
 opacity: 0.8;
 border-radius: 20px;
 margin-bottom: 0;
}
input[type="submit"]:hover{
    opacity: 1;
}

input[type="submit"]:active{
    transform:scale(0.95);
}

.check-label{
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:crimson;
    font-weight: 500;
}
.check-input{
    flex:none;
    margin-right: 10px;
    
    
}
.crear-cuenta{
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    text-align: center;
    font-size: 18px;
    color:#0760b3;
    font-weight: 500;
}
@media(max-width:768px){
    form{
        width: 85%;

    }
}

@media(max-width:480px){
    form{
        width: 75%;
        
    }
    .todolist{
        width: 200px;
        margin:auto 37px ;
    }
    
}