:root {
    --colorTextos: #49454567;
}


*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto';
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    display: flex;
    justify-content: center;
   
    align-items: center;
}
h2{
    text-align: center;
    font-weight: 600px;
    font-size: 18px;
    color:#05828d;
    
}
span{
    text-align: center;
    font-weight: 700px;
    font-size: 39px;
    margin-bottom: 10px;
    margin-right: 10px;
    color:#00C1D4;
    justify-self: self-start;

}
form{
    background: #fff;
    padding: 50px 0px;
    width: 50%;
    box-shadow: 0 0 6px 0 rgba(255,255,255,0.8);
    border-radius: 10px;
   

}
.form{
    width: 100%;
    margin:auto;
}
form .grupo{
    position: relative;
    margin: 45px 10px;

}
input{
    background: none;
    color:#c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display:block;
    width: 100%;
    border:none;
    border-bottom: 1px solid var(--colorTextos);
}
input:focus{
    outline: none;
    color: rgb(94,93,93);
}
.warnings{
    width: 100%;
    text-align: center;
    margin: auto;
    color:#8316e2;
    padding-top: 20px;
}
label{
    color:var(--colorTextos);
    position: absolute;
    font-size: 18px;
    left:5px;
    top:10px;
    transition: 0.5s ease-in-out all;
    pointer-events: none;

}
input:focus~label,
input:valid~label{
    top:-10px;
    font-size: 15px;
    color:#2196f3;
}
.barra{
    display:block;
    position: relative;
    width: 100%;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0px;
    position: absolute;
    background: linear-gradient(to left, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: 0.3s ease width;
    left:0;
    
}
input:focus~.barra::before{
    width: 100%;    
}

button{
    font-family: "Roboto";
    background: rgb(181,181,181); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(181,181,181,1) 0%, rgba(142,142,142,1) 13%, rgba(5,5,5,1) 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, rgba(181,181,181,1) 0%,rgba(142,142,142,1) 13%,rgba(5,5,5,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(181,181,181,1) 0%,rgba(142,142,142,1) 13%,rgba(5,5,5,1) 100%); /* Opera 11.10+ */
    background: linear-gradient(to bottom, rgba(181,181,181,1) 0%,rgba(142,142,142,1) 13%,rgba(5,5,5,1) 100%); /* W3C */


    border:none;
    border-radius: 15px;
    display: block;
    width: 80%;
    margin: 10px auto;
    color:#fff;
    height: 40px;
    font-size: 16px;
    cursor:pointer;

}
.power{
    text-align: center;
}
@media screen and (max-width:480px) {

    form{
        width: 85%;
    }
}